@import "lib/youi/tailwindcss/base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind grid;

body{
    margin: 0px;
    height: 100%;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    font-family: Inter var, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}